// 基础颜色
$navbar-bg: #fff;
$theme-color: #3498db;
$user-bg: #e7e7e7;
$font-color: #494949;
$font-simple-color:#676767;

$bg-blue: #82cbef;
$bg-green: #86c16d;
$bg-yellow: #eab646;
$bg-pink: #f3a7a7;
$bg-purple: #e45e8c;
$bg-info: #42a5f5;

$bg-success: #28bebd;
$bg-danger: #ef5350;
$bg-warning: #FEC007;
$bg-info: #42a5f5;
$bg-default: #9daec4;
$bg-primary: #ec407a;

$label-color: #758396;
$radio-boder-color: rgba(165,181,203,.53);

// 侧边栏
$nav-bg-color:#222f3c;
$nav-list-item-bg-color:#222f3c;
$nav-list-item-font-color:#91a6bb;
$nav-list-item-a-bg-color:#1c2732;
$border-left-color: #3498db;
