@media (min-width: 768px) {
  .modal-dialog1 {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    padding: 0 !important;
    width: 600px !important;
    margin: 5% auto !important;
  }
}
.modal{
  .modal-dialog{
    padding-top: 10% !important;
  }
}
.modal-content {
  border-radius: 0;
  //border: none;
}
.modal-header {
  background-color: #fff;
  padding: 20px;
  height: 60px;
}
.modal-body {
  padding: 20px;
}
.modal-footer {
  padding: 10px 20px 15px;
  text-align: right;
  border-radius: 0 0 4px 4px;
  background: #fff;
  button{
    margin: 0;
    &:first-of-type{
      width: 100px;
      height: 36px;
      border: none;
      background-color: #dddddd;
      border-radius: 0;
      border-bottom-left-radius: 18px;
      border-top-left-radius: 18px;
      outline: none;
    }
    &:last-of-type{
      width: 100px;
      height: 36px;
      background-color: #27ae60;
      border: none;
      margin: 0;
      color: #fff;
      border-radius: 0;
      outline: none;
      border-bottom-right-radius: 18px;
      border-top-right-radius: 18px;
    }
  }
}
