@import "../../../../assets/scss/base";
@import "../../../../assets/scss/conrainer-header";
@import "../../../../assets/scss/modal";

.wrap{
  .container-fluid{
    .table{
      .item{
        width: 100%;
        display: inline-block;
        cursor: pointer;
      }
      .btn-link{
        color: $theme-color;
        cursor: pointer;
      }
    }
  }
}
