.main-container{
  margin-left: 240px;
  padding-top: 52px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main-container {
    margin-left: 0 !important;
  }
}
